body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(thingy.png);
    background-color: #005555;
}
main {
    flex: 1 0 auto;
}
//task posts\\

.task-post{
    margin-bottom: 60px;
}
.task-post-title{
    margin-bottom: 5px;
    font-size: 40px;
}
.task-post-meta{
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}
#notdone{
    background-color: #ffffff;
}
#done{
    background-color: #00aa00;
}